.ucuzuc-sprite { background-image: url('../../img/ucuzuc_icon.png'); background-color: transparent; background-repeat: no-repeat; }
span.ucuzuc-sprite { background-image: url('../../img/ucuzuc_icon.png'); background-color: transparent; background-repeat: no-repeat; display: inline-block; margin: 0 3px;}

.ucuzuc_be { width: 195px; height: 38px; background-position: -1px -451px; }
.ucuzuc_eu { width: 195px; height: 38px; background-position: -1px -412px; }
.logo-ucuzucnl { width: 187px; height: 38px; background-position: -1px -373px; }
.ucuzuc_nl { width: 186px; height: 38px; background-position: -1px -334px; }
.kampanya-sol { width: 77px; height: 79px; background-position: -176px -172px; }
.dropdown-alt { width: 206px; height: 22px; background-position: -1px -22px; }
.fiyat-bg { width: 112px; height: 41px; background-position: -1px -160px; }
.data-gidis { width: 128px; height: 28px; background-position: -114px -143px; }
.dropdown-top { width: 206px; height: 17px; background-position: -1px -4px; }
.aksiyon-bg { width: 112px; height: 29px; background-position: -1px -130px; }
.data-donus { width: 113px; height: 28px; background-position: -114px -112px; }
.donus-modal { width: 113px; height: 28px; background-position: -1px -202px; }
.twitter-paylas { width: 93px; height: 26px; background-position: -164px -252px; }
.facebook-paylas { width: 91px; height: 26px; background-position: -197px -461px; }
.google-plus-paylas { width: 90px; height: 26px; background-position: -197px -434px; }
.kampanya-bg { width: 72px; height: 28px; background-position: -208px -18px; }
.kampanya-sag { width: 72px; height: 28px; background-position: -1px -305px; }
.ikon-ekle-buyuk { width: 42px; height: 42px; background-position: -228px -100px; }
.tab-left { width: 21px; height: 75px; background-position: -254px -173px; }
.tab-right { width: 21px; height: 75px; background-position: -271px -97px; }
.1-5 { width: 96px; height: 16px; background-position: -174px -300px; }
.2-5 { width: 96px; height: 16px; background-position: -174px -283px; }
.3-5 { width: 96px; height: 16px; background-position: -29px -45px; }
.4-5 { width: 96px; height: 16px; background-position: -1px -112px; }
.5 { width: 96px; height: 16px; background-position: -208px -1px; }
.git-anasayfa { width: 42px; height: 36px; background-position: -281px -40px; }
.git-geri { width: 42px; height: 36px; background-position: -276px -214px; }
.5-5 { width: 96px; height: 15px; background-position: -97px -96px; }
.logo-iata { width: 47px; height: 31px; background-position: -258px -251px; }
.logo-ucuzuc { width: 38px; height: 38px; background-position: -276px -173px; }
.facebook { width: 38px; height: 37px; background-position: -289px -449px; }
.google { width: 38px; height: 37px; background-position: -293px -115px; }
.rss { width: 38px; height: 37px; background-position: -293px -77px; }
.skype { width: 38px; height: 37px; background-position: -278px -321px; }
.twitter { width: 38px; height: 37px; background-position: -100px -296px; }
.youtube { width: 38px; height: 37px; background-position: -271px -283px; }
.modal-onay { width: 38px; height: 35px; background-position: -62px -231px; }
.4 { width: 76px; height: 16px; background-position: -197px -417px; }
.logo-calamitadiefonds { width: 35px; height: 33px; background-position: -101px -261px; }
.toggle-small-sprite { width: 64px; height: 16px; background-position: -188px -317px; }
.toggle-sprite { width: 64px; height: 16px; background-position: -1px -288px; }
.image-bg { width: 32px; height: 32px; background-position: -143px -215px; }
.logo-sgr { width: 34px; height: 30px; background-position: -139px -301px; }
.logo-ideal { width: 35px; height: 29px; background-position: -190px -61px; }
.logo-anvr { width: 34px; height: 28px; background-position: -273px -359px; }
.servis-bagaj-aktif { width: 37px; height: 25px; background-position: -1px -85px; }
.servis-bagaj-pasif { width: 37px; height: 25px; background-position: -125px -70px; }
.3 { width: 56px; height: 16px; background-position: -114px -172px; }
.ayarlar-ulke { width: 30px; height: 30px; background-position: -242px -385px; }
.ayarlar-dil { width: 31px; height: 27px; background-position: -226px -72px; }
.bulten-mail { width: 34px; height: 23px; background-position: -305px -16px; }
.servis-yemek-pasif { width: 26px; height: 28px; background-position: -243px -143px; }
.logo-paypal { width: 34px; height: 21px; background-position: -27px -262px; }
.onay-print { width: 26px; height: 27px; background-position: -189px -359px; }
.aktif-cruise { width: 25px; height: 27px; background-position: -216px -360px; }
.pasif-cruise { width: 25px; height: 27px; background-position: -137px -268px; }
.ayarlar-para-birimi { width: 30px; height: 22px; background-position: -39px -87px; }
.rez-onay { width: 26px; height: 25px; background-position: -70px -80px; }
.servis-yemek-aktif { width: 26px; height: 25px; background-position: -242px -359px; }
.aktif-ucak-otel { width: 19px; height: 34px; background-position: -308px -366px; }
.pasif-ucak-otel { width: 19px; height: 34px; background-position: -317px -331px; }
.servis-check-pasif { width: 27px; height: 24px; background-position: -115px -214px; }
.servis-checkin-aktif { width: 27px; height: 24px; background-position: -1px -60px; }
.adim-aktif { width: 25px; height: 25px; background-position: -163px -70px; }
.adim-pasif { width: 25px; height: 25px; background-position: -274px -406px; }
.bilgi-arac { width: 25px; height: 25px; background-position: -300px -423px; }
.bilgi-sigorta { width: 25px; height: 25px; background-position: -216px -334px; }
.bilgi-ucret { width: 25px; height: 25px; background-position: -1px -262px; }
.bilgi-ucus { width: 25px; height: 25px; background-position: -74px -308px; }
.bilgi-yolcu { width: 25px; height: 25px; background-position: -143px -189px; }
.facebook-anasayfa { width: 25px; height: 24px; background-position: -188px -334px; }
.google-plus-anasayfa { width: 25px; height: 24px; background-position: -115px -189px; }
.twitter-anasayfa { width: 25px; height: 24px; background-position: -242px -334px; }
.aktif-sigorta { width: 26px; height: 23px; background-position: -315px -190px; }
.ikon-select-arrow-bg { width: 23px; height: 26px; background-position: -306px -256px; }
.pasif-sigorta { width: 26px; height: 23px; background-position: -315px -166px; }
.2 { width: 36px; height: 16px; background-position: -300px -406px; }
.aktif-ucak { width: 24px; height: 24px; background-position: -319px -231px; }
.listele-sutun { width: 24px; height: 24px; background-position: -324px -40px; }
.pasif-ucak { width: 24px; height: 24px; background-position: -317px -306px; }
.select-arrow-aktif-bg-2 { width: 25px; height: 23px; background-position: -326px -423px; }
.select-arrow-aktif { width: 25px; height: 23px; background-position: -328px -465px; }
.select-arrow-pasif-bg-2 { width: 25px; height: 23px; background-position: -332px -128px; }
.select-arrow-pasif { width: 25px; height: 23px; background-position: -332px -104px; }
.aktif-araba { width: 26px; height: 22px; background-position: -332px -65px; }
.dropdown-bg { width: 206px; height: 2px; background-position: -1px -1px; }
.pasif-araba { width: 26px; height: 22px; background-position: -310px -283px; }
.buton-bulten { width: 23px; height: 24px; background-position: -328px -373px; }
.facebook-baglan { width: 23px; height: 23px; background-position: -337px -398px; }
.facebook-kare { width: 23px; height: 23px; background-position: -337px -349px; }
.google-kare { width: 23px; height: 23px; background-position: -340px -1px; }
.google-plus-baglan { width: 23px; height: 23px; background-position: -330px -256px; }
.twitter-baglan { width: 23px; height: 23px; background-position: -342px -200px; }
.twitter-kare { width: 23px; height: 23px; background-position: -342px -176px; }
.logo-thuiswinkel { width: 40px; height: 13px; background-position: -189px -388px; }
.modul-filtreler { width: 22px; height: 23px; background-position: -342px -152px; }
.onay-pdf { width: 20px; height: 25px; background-position: -344px -224px; }
.aktif-akordeon { width: 22px; height: 22px; background-position: -349px -25px; }
.ayrinti-gizle-buyuk { width: 22px; height: 22px; background-position: -342px -326px; }
.ayrıntı-goster-buyuk { width: 22px; height: 22px; background-position: -342px -303px; }
.bg-kirmizi { width: 22px; height: 22px; background-position: -337px -280px; }
.bg-mavi { width: 22px; height: 22px; background-position: -352px -375px; }
.buton-onceki { width: 22px; height: 22px; background-position: -352px -422px; }
.buton-sonraki { width: 22px; height: 22px; background-position: -354px -465px; }
.buton-yenile { width: 22px; height: 22px; background-position: -358px -121px; }
.pasif-akordeon { width: 22px; height: 22px; background-position: -358px -98px; }
.servis-koltuk-pasif { width: 19px; height: 25px; background-position: -359px -72px; }
.servis-koltuk-aktif { width: 18px; height: 25px; background-position: -361px -349px; }
.aktif-hotel { width: 26px; height: 17px; background-position: -349px -447px; }
.pasif-hotel { width: 26px; height: 17px; background-position: -194px -91px; }
.modal-baslik-kapat { width: 21px; height: 21px; background-position: -361px -399px; }
.karsilastir-beyaz { width: 25px; height: 17px; background-position: -62px -267px; }
.karsilastir { width: 25px; height: 17px; background-position: -97px -62px; }
.modal-baslik-ayarlar { width: 21px; height: 20px; background-position: -258px -71px; }
.aktif-radio-2 { width: 20px; height: 20px; background-position: -364px -1px; }
.check-aktif { width: 20px; height: 20px; background-position: -354px -250px; }
.check-pasif { width: 20px; height: 20px; background-position: -365px -144px; }
.radio-aktif { width: 20px; height: 20px; background-position: -365px -228px; }
.radio-disable-aktif { width: 20px; height: 20px; background-position: -366px -207px; }
.radio-disable-pasif { width: 20px; height: 20px; background-position: -366px -186px; }
.radio-pasif { width: 20px; height: 20px; background-position: -365px -313px; }
.uncheck-aktif { width: 20px; height: 20px; background-position: -365px -292px; }
.uncheck-pasif { width: 20px; height: 20px; background-position: -360px -271px; }
.yukari-ok { width: 20px; height: 20px; background-position: -366px -165px; }
.aktif-tab-sondakika { width: 19px; height: 20px; background-position: -372px -22px; }
.pasif-tab-sondakika { width: 19px; height: 20px; background-position: -375px -378px; }
.aktif-tab-duyuru { width: 19px; height: 19px; background-position: -375px -426px; }
.filtre-slider-sag { width: 19px; height: 19px; background-position: -377px -470px; }
.filtre-slider-sol { width: 19px; height: 19px; background-position: -372px -43px; }
.pasif-tab-duyuru { width: 19px; height: 19px; background-position: -381px -98px; }
.aktif-tab-promosyon { width: 18px; height: 20px; background-position: -379px -63px; }
.pasif-tab-promosyonlar { width: 18px; height: 20px; background-position: -380px -357px; }
.ikon-gidis-ucak { width: 19px; height: 18px; background-position: -376px -446px; }
.ikon-donus-ucak { width: 20px; height: 17px; background-position: -328px -447px; }
.modal-baslik-mail { width: 21px; height: 16px; background-position: -18px -245px; }
.bagaj-free { width: 17px; height: 19px; background-position: -383px -406px; }
.aktif-sss { width: 17px; height: 18px; background-position: -385px -1px; }
.data-bosalt { width: 17px; height: 18px; background-position: -375px -249px; }
.data-facebook { width: 17px; height: 18px; background-position: -386px -137px; }
.data-print { width: 17px; height: 18px; background-position: -381px -118px; }
.data-secilen { width: 17px; height: 18px; background-position: -386px -228px; }
.pasif-sss { width: 17px; height: 18px; background-position: -387px -209px; }
.data-mail { width: 19px; height: 16px; background-position: -380px -340px; }
.aktif-filtreler { width: 16px; height: 18px; background-position: -387px -190px; }
.ikon-takvim-2 { width: 20px; height: 14px; background-position: -273px -388px; }
.data-donus-ikon { width: 17px; height: 16px; background-position: -387px -173px; }
.modul-ucak-bileti { width: 16px; height: 17px; background-position: -386px -322px; }
.pasif-filtreler { width: 16px; height: 17px; background-position: -386px -304px; }
.header-tel { width: 14px; height: 19px; background-position: -381px -268px; }
.1 { width: 16px; height: 16px; background-position: -1px -245px; }
.buton-geri { width: 16px; height: 16px; background-position: -40px -245px; }
.buton-ileri { width: 16px; height: 16px; background-position: -319px -214px; }
.header-ayarlar { width: 16px; height: 16px; background-position: -387px -156px; }
.pasif-check { width: 16px; height: 16px; background-position: -137px -248px; }
.data-gidis-ikon { width: 17px; height: 15px; background-position: -293px -153px; }
.ikon-uyari { width: 17px; height: 15px; background-position: -29px -62px; }
.tab-low-cost { width: 15px; height: 17px; background-position: -98px -112px; }
.ikon-guzergah-ara-2 { width: 20px; height: 12px; background-position: -47px -74px; }
.notification-shop-aktif { width: 16px; height: 15px; background-position: -101px -245px; }
.affilite-toplam-sure { width: 15px; height: 15px; background-position: -118px -239px; }
.ekle-ssr { width: 15px; height: 15px; background-position: -253px -317px; }
.ikon-info-2 { width: 15px; height: 15px; background-position: -68px -62px; }
.notification-bg { width: 15px; height: 15px; background-position: -332px -88px; }
.aktif-mesaj { width: 16px; height: 14px; background-position: -197px -402px; }
.ikon-takvim { width: 16px; height: 14px; background-position: -214px -402px; }
.modul-araba { width: 16px; height: 14px; background-position: -386px -289px; }
.notification-shop-pasif { width: 16px; height: 14px; background-position: -126px -55px; }
.notification-pin-aktif { width: 13px; height: 17px; background-position: -294px -388px; }
.hotel-oda-aktif { width: 11px; height: 19px; background-position: -392px -20px; }
.ikon-derece { width: 11px; height: 19px; background-position: -280px -77px; }
.tab-kombinasyon { width: 14px; height: 15px; background-position: -143px -45px; }
.tab-matris { width: 14px; height: 15px; background-position: -158px -45px; }
.ekle-mil { width: 16px; height: 13px; background-position: -173px -56px; }
.pasif-mesaj { width: 16px; height: 13px; background-position: -1px -45px; }
.modul-hotel { width: 17px; height: 12px; background-position: -240px -58px; }
.notification-pin-pasif { width: 12px; height: 17px; background-position: -84px -62px; }
.ekle-yemek { width: 14px; height: 14px; background-position: -365px -334px; }
.tab-ucus { width: 16px; height: 12px; background-position: -223px -47px; }
.bagaj- belirsiz { width: 17px; height: 11px; background-position: -258px -59px; }
.bagaj-yok { width: 17px; height: 11px; background-position: -47px -62px; }
.data-yukari { width: 17px; height: 11px; background-position: -311px -153px; }
.listele-satir { width: 17px; height: 11px; background-position: -190px -45px; }
.header-uye-girisi { width: 13px; height: 14px; background-position: -174px -317px; }
.header-yeni-uyelik { width: 13px; height: 14px; background-position: -349px -48px; }
.ikon-eksi { width: 14px; height: 13px; background-position: -66px -285px; }
.notification-hotal { width: 14px; height: 13px; background-position: -208px -47px; }
.pasif-ayrinti { width: 13px; height: 14px; background-position: -281px -18px; }
.hotel-oda-pasif { width: 10px; height: 18px; background-position: -392px -40px; }
.affilite-varis-saati { width: 16px; height: 11px; background-position: -97px -80px; }
.de { width: 16px; height: 11px; background-position: -379px -84px; }
.fr { width: 16px; height: 11px; background-position: -29px -231px; }
.gb { width: 16px; height: 11px; background-position: -81px -296px; }
.nl { width: 16px; height: 11px; background-position: -258px -47px; }
.tr { width: 16px; height: 11px; background-position: -305px -4px; }
.ucus-yetiskin { width: 9px; height: 19px; background-position: -154px -248px; }
.aktif-ayrinti { width: 13px; height: 13px; background-position: -101px -231px; }
.ikon-ara { width: 13px; height: 13px; background-position: -322px -1px; }
.ikon-arti { width: 13px; height: 13px; background-position: -1px -231px; }
.ikon-check { width: 13px; height: 13px; background-position: -15px -231px; }
.ikon-dikkat { width: 13px; height: 13px; background-position: -46px -231px; }
.ikon-info { width: 13px; height: 13px; background-position: -393px -247px; }
.ikon-promosyon { width: 13px; height: 13px; background-position: -395px -392px; }
.ikon-sil { width: 13px; height: 13px; background-position: -395px -378px; }
.ikon-soru { width: 13px; height: 13px; background-position: -395px -426px; }
.buton-asagi-kaydirma_cubugu { width: 11px; height: 15px; background-position: -88px -267px; }
.buton-yukari-kaydirma_cubugu { width: 11px; height: 15px; background-position: -396px -273px; }
.hotel-cocuk { width: 11px; height: 15px; background-position: -288px -432px; }
.ucus-cocuk { width: 11px; height: 15px; background-position: -396px -454px; }
.hotel-yetiskin { width: 9px; height: 18px; background-position: -295px -18px; }
.affilite-kalkis-saati { width: 16px; height: 10px; background-position: -81px -285px; }
.ikon-input-hata { width: 12px; height: 13px; background-position: -396px -440px; }
.ikon-input-onay { width: 12px; height: 13px; background-position: -397px -470px; }
.ucus-bebek { width: 12px; height: 13px; background-position: -396px -84px; }
.header-para-birimi { width: 14px; height: 11px; background-position: -396px -261px; }
.ekle-bagaj { width: 15px; height: 10px; background-position: -240px -47px; }
.filtreler-sifirla { width: 12px; height: 12px; background-position: -398px -71px; }
.ikon-guzergah-ara { width: 12px; height: 12px; background-position: -329px -153px; }
.affilite-fiyat-araligi { width: 14px; height: 10px; background-position: -173px -45px; }
.ikon-guzergah-pin { width: 10px; height: 14px; background-position: -18px -45px; }
.slider-sag { width: 10px; height: 14px; background-position: -114px -80px; }
.slider-sol { width: 10px; height: 14px; background-position: -399px -118px; }
.ikon-siralama-alt { width: 9px; height: 15px; background-position: -348px -88px; }
.ikon-siralama-ust { width: 9px; height: 15px; background-position: -401px -98px; }
.tab-content { width: 1px; height: 75px; background-position: -405px -133px; }
.aktif-ayrinti-2 { width: 11px; height: 11px; background-position: -226px -60px; }
.ayrinti-goster { width: 11px; height: 11px; background-position: -398px -59px; }
.pasif-ayrinti-2 { width: 11px; height: 11px; background-position: -230px -388px; }
.ucus-degistir { width: 11px; height: 11px; background-position: -399px -362px; }
.notification-araba { width: 14px; height: 8px; background-position: -359px -63px; }
.ikon-buton-geri { width: 10px; height: 10px; background-position: -163px -290px; }
.ikon-buton-sec { width: 10px; height: 10px; background-position: -163px -279px; }
.slider-buton-aktif { width: 10px; height: 10px; background-position: -400px -351px; }
.slider-buton-pasif { width: 10px; height: 10px; background-position: -400px -340px; }
.ikon-turuncu { width: 8px; height: 12px; background-position: -269px -321px; }
.arrow-bg { width: 6px; height: 15px; background-position: -403px -1px; }
.ikon-havalimanlari { width: 9px; height: 9px; background-position: -126px -45px; }
.ikon-veri-uyari { width: 5px; height: 11px; background-position: -340px -25px; }
.ayrıntı-gizle { width: 11px; height: 2px; background-position: -305px -1px; }
.square-bg { width: 5px; height: 5px; background-position: -281px -33px; }
.transparent { width: 1px; height: 1px; background-position: -317px -1px; }
