.ucuzuc-sprite { background-image: url('../../img/ucuzuc_icon.png'); background-color: transparent; background-repeat: no-repeat; }
span.ucuzuc-sprite { background-image: url('../../img/ucuzuc_icon.png'); background-color: transparent; background-repeat: no-repeat; display: inline-block; margin: 0 3px;}

.ucuzuc_be { width: 195px; height: 38px; background-position: 0px -497px; }
.ucuzuc_eu { width: 195px; height: 38px; background-position: 0px -459px; }
.logo-ucuzucnl { width: 187px; height: 38px; background-position: 0px -421px; }
.ucuzuc_nl { width: 186px; height: 38px; background-position: 0px -383px; }
.kampanya-sol { width: 77px; height: 79px; background-position: -142px -166px; }
.fiyat-bg { width: 112px; height: 41px; background-position: 0px -326px; }
.dropdown-alt { width: 206px; height: 22px; background-position: 0px -104px; }
.data-gidis { width: 128px; height: 28px; background-position: 0px -76px; }
.dropdown-top { width: 206px; height: 17px; background-position: 0px -3px; }
.aksiyon-bg { width: 112px; height: 29px; background-position: -128px -48px; }
.data-donus { width: 113px; height: 28px; background-position: 0px -48px; }
.donus-modal { width: 113px; height: 28px; background-position: -113px -20px; }
.twitter-paylas { width: 93px; height: 26px; background-position: -184px -309px; }
.facebook-paylas { width: 91px; height: 26px; background-position: -195px -509px; }
.google-plus-paylas { width: 90px; height: 26px; background-position: -195px -482px; }
.kampanya-bg { width: 72px; height: 28px; background-position: -23px -160px; }
.kampanya-sag { width: 72px; height: 28px; background-position: -186px -335px; }
.ikon-ekle-buyuk { width: 42px; height: 42px; background-position: -226px -2px; }
.tab-left { width: 21px; height: 75px; background-position: -219px -178px; }
.tab-right { width: 21px; height: 75px; background-position: -268px -8px; }
.1-5 { width: 96px; height: 16px; background-position: -112px -245px; }
.2-5 { width: 96px; height: 16px; background-position: 0px -310px; }
.3-5 { width: 96px; height: 16px; background-position: 0px -367px; }
.4-5 { width: 96px; height: 16px; background-position: 0px -294px; }
.5 { width: 96px; height: 16px; background-position: -176px -293px; }
.git-anasayfa { width: 42px; height: 36px; background-position: -112px -331px; }
.git-geri { width: 42px; height: 36px; background-position: -206px -115px; }
.logo-iata { width: 47px; height: 31px; background-position: -84px -214px; }
.logo-ucuzuc { width: 38px; height: 38px; background-position: -248px -124px; }
.5-5 { width: 96px; height: 15px; background-position: 0px -279px; }
.facebook { width: 38px; height: 37px; background-position: -212px -256px; }
.google { width: 38px; height: 37px; background-position: -240px -199px; }
.rss { width: 38px; height: 37px; background-position: -187px -398px; }
.skype { width: 38px; height: 37px; background-position: 0px -242px; }
.twitter { width: 38px; height: 37px; background-position: -104px -171px; }
.youtube { width: 38px; height: 37px; background-position: -240px -162px; }
.modal-onay { width: 38px; height: 35px; background-position: -186px -363px; }
.4 { width: 76px; height: 16px; background-position: 0px -32px; }
.logo-calamitadiefonds { width: 35px; height: 33px; background-position: -224px -364px; }
.image-bg { width: 32px; height: 32px; background-position: -154px -345px; }
.toggle-small-sprite { width: 64px; height: 16px; background-position: -16px -126px; }
.toggle-sprite { width: 64px; height: 16px; background-position: -128px -88px; }
.logo-sgr { width: 34px; height: 30px; background-position: -96px -273px; }
.logo-ideal { width: 35px; height: 29px; background-position: -258px -335px; }
.logo-anvr { width: 34px; height: 28px; background-position: -221px -454px; }
.servis-bagaj-aktif { width: 37px; height: 25px; background-position: -76px -20px; }
.servis-bagaj-pasif { width: 37px; height: 25px; background-position: -250px -429px; }
.ayarlar-ulke { width: 30px; height: 30px; background-position: -154px -315px; }
.3 { width: 56px; height: 16px; background-position: -96px -367px; }
.ayarlar-dil { width: 31px; height: 27px; background-position: -259px -364px; }
.bulten-mail { width: 34px; height: 23px; background-position: -255px -454px; }
.servis-yemek-pasif { width: 26px; height: 28px; background-position: -240px -44px; }
.logo-paypal { width: 34px; height: 21px; background-position: 0px -221px; }
.onay-print { width: 26px; height: 27px; background-position: -250px -236px; }
.aktif-cruise { width: 25px; height: 27px; background-position: -225px -420px; }
.pasif-cruise { width: 25px; height: 27px; background-position: -267px -263px; }
.ayarlar-para-birimi { width: 30px; height: 22px; background-position: -277px -290px; }
.rez-onay { width: 26px; height: 25px; background-position: -278px -211px; }
.servis-yemek-aktif { width: 26px; height: 25px; background-position: -278px -186px; }
.servis-check-pasif { width: 27px; height: 24px; background-position: -278px -162px; }
.servis-checkin-aktif { width: 27px; height: 24px; background-position: -285px -485px; }
.aktif-ucak-otel { width: 19px; height: 34px; background-position: -286px -100px; }
.pasif-ucak-otel { width: 19px; height: 34px; background-position: -289px -47px; }
.adim-aktif { width: 25px; height: 25px; background-position: -286px -134px; }
.adim-pasif { width: 25px; height: 25px; background-position: -286px -509px; }
.bilgi-arac { width: 25px; height: 25px; background-position: -276px -236px; }
.bilgi-sigorta { width: 25px; height: 25px; background-position: -290px -371px; }
.bilgi-ucret { width: 25px; height: 25px; background-position: -289px -22px; }
.bilgi-ucus { width: 25px; height: 25px; background-position: -293px -346px; }
.bilgi-yolcu { width: 25px; height: 25px; background-position: -286px -396px; }
.facebook-anasayfa { width: 25px; height: 24px; background-position: -289px -444px; }
.google-plus-anasayfa { width: 25px; height: 24px; background-position: -38px -255px; }
.twitter-anasayfa { width: 25px; height: 24px; background-position: -63px -255px; }
.aktif-sigorta { width: 26px; height: 23px; background-position: -293px -323px; }
.ikon-select-arrow-bg { width: 23px; height: 26px; background-position: -129px -305px; }
.pasif-sigorta { width: 26px; height: 23px; background-position: -195px -458px; }
.2 { width: 36px; height: 16px; background-position: -250px -413px; }
.aktif-ucak { width: 24px; height: 24px; background-position: -152px -291px; }
.listele-sutun { width: 24px; height: 24px; background-position: 0px -197px; }
.pasif-ucak { width: 24px; height: 24px; background-position: -88px -245px; }
.select-arrow-aktif-bg-2 { width: 25px; height: 23px; background-position: -225px -397px; }
.select-arrow-aktif { width: 25px; height: 23px; background-position: -287px -421px; }
.select-arrow-pasif-bg-2 { width: 25px; height: 23px; background-position: -187px -435px; }
.select-arrow-pasif { width: 25px; height: 23px; background-position: -34px -210px; }
.aktif-araba { width: 26px; height: 22px; background-position: -259px -391px; }
.pasif-araba { width: 26px; height: 22px; background-position: -80px -126px; }
.buton-bulten { width: 23px; height: 24px; background-position: -59px -231px; }
.facebook-baglan { width: 23px; height: 23px; background-position: -95px -148px; }
.facebook-kare { width: 23px; height: 23px; background-position: -118px -148px; }
.google-kare { width: 23px; height: 23px; background-position: -150px -126px; }
.google-plus-baglan { width: 23px; height: 23px; background-position: -178px -143px; }
.twitter-baglan { width: 23px; height: 23px; background-position: 0px -174px; }
.twitter-kare { width: 23px; height: 23px; background-position: -292px -266px; }
.logo-thuiswinkel { width: 40px; height: 13px; background-position: -214px -77px; }
.modul-filtreler { width: 22px; height: 23px; background-position: -192px -77px; }
.onay-pdf { width: 20px; height: 25px; background-position: -84px -189px; }
.aktif-akordeon { width: 22px; height: 22px; background-position: -254px -102px; }
.ayrinti-gizle-buyuk { width: 22px; height: 22px; background-position: -289px 0px; }
.ayrıntı-goster-buyuk { width: 22px; height: 22px; background-position: -130px -283px; }
.bg-kirmizi { width: 22px; height: 22px; background-position: -24px -188px; }
.bg-mavi { width: 22px; height: 22px; background-position: -46px -188px; }
.buton-onceki { width: 22px; height: 22px; background-position: -214px -90px; }
.buton-sonraki { width: 22px; height: 22px; background-position: -106px -126px; }
.buton-yenile { width: 22px; height: 22px; background-position: 0px -152px; }
.pasif-akordeon { width: 22px; height: 22px; background-position: -128px -126px; }
.servis-koltuk-pasif { width: 19px; height: 25px; background-position: -305px -108px; }
.servis-koltuk-aktif { width: 18px; height: 25px; background-position: -236px -90px; }
.aktif-hotel { width: 26px; height: 17px; background-position: -254px -85px; }
.pasif-hotel { width: 26px; height: 17px; background-position: -22px -142px; }
.modal-baslik-kapat { width: 21px; height: 21px; background-position: -305px -87px; }
.karsilastir-beyaz { width: 25px; height: 17px; background-position: -48px -142px; }
.karsilastir { width: 25px; height: 17px; background-position: -280px -83px; }
.modal-baslik-ayarlar { width: 21px; height: 20px; background-position: -301px -246px; }
.dropdown-bg { width: 206px; height: 2px; background-position: 0px -1px; }
.aktif-check { width: 20px; height: 20px; background-position: -206px 0px; }
.aktif-radio-1 { width: 20px; height: 20px; background-position: -304px -226px; }
.aktif-radio-2 { width: 20px; height: 20px; background-position: -304px -206px; }
.pasif-radio-1 { width: 20px; height: 20px; background-position: -304px -186px; }
.pasif-radio-12 { width: 20px; height: 20px; background-position: -305px -165px; }
.yukari-ok { width: 20px; height: 20px; background-position: -307px -300px; }
.aktif-radio_buton { width: 20px; height: 20px; background-position: -308px -67px; }
.pasif-radio_buton { width: 20px; height: 20px; background-position: -308px -47px; }
.aktif-tab-sondakika { width: 19px; height: 20px; background-position: -311px 0px; }
.pasif-tab-sondakika { width: 19px; height: 20px; background-position: -311px -145px; }
.aktif-tab-duyuru { width: 19px; height: 19px; background-position: -311px -399px; }
.filtre-slider-sag { width: 19px; height: 19px; background-position: -311px -514px; }
.filtre-slider-sol { width: 19px; height: 19px; background-position: -312px -418px; }
.pasif-tab-duyuru { width: 19px; height: 19px; background-position: -312px -495px; }
.aktif-tab-promosyon { width: 18px; height: 20px; background-position: -312px -473px; }
.pasif-tab-promosyonlar { width: 18px; height: 20px; background-position: -314px -20px; }
.ikon-gidis-ucak { width: 19px; height: 18px; background-position: -152px -272px; }
.ikon-donus-ucak { width: 20px; height: 17px; background-position: -171px -274px; }
.modal-baslik-mail { width: 21px; height: 16px; background-position: -191px -275px; }
.bagaj-free { width: 17px; height: 19px; background-position: -315px -380px; }
.aktif-sss { width: 17px; height: 18px; background-position: -250px -275px; }
.data-bosalt { width: 17px; height: 18px; background-position: -314px -455px; }
.data-facebook { width: 17px; height: 18px; background-position: -314px -437px; }
.data-print { width: 17px; height: 18px; background-position: -112px -303px; }
.data-secilen { width: 17px; height: 18px; background-position: -318px -362px; }
.pasif-sss { width: 17px; height: 18px; background-position: -319px -328px; }
.data-mail { width: 19px; height: 16px; background-position: -318px -346px; }
.aktif-filtreler { width: 16px; height: 18px; background-position: -315px -282px; }
.ikon-takvim-2 { width: 20px; height: 14px; background-position: -141px -149px; }
.data-donus-ikon { width: 17px; height: 16px; background-position: -161px -149px; }
.modul-ucak-bileti { width: 16px; height: 17px; background-position: -173px -126px; }
.pasif-filtreler { width: 16px; height: 17px; background-position: -96px -303px; }
.pasif-radio-2 { width: 16px; height: 17px; background-position: -289px -468px; }
.header-tel { width: 14px; height: 19px; background-position: -113px -57px; }
.1 { width: 16px; height: 16px; background-position: -219px -162px; }
.buton-geri { width: 16px; height: 16px; background-position: 0px -136px; }
.buton-ileri { width: 16px; height: 16px; background-position: -189px -126px; }
.header-ayarlar { width: 16px; height: 16px; background-position: -68px -215px; }
.pasif-check { width: 16px; height: 16px; background-position: -68px -199px; }
.pasif-radio_buton2 { width: 16px; height: 16px; background-position: -315px -266px; }
.data-gidis-ikon { width: 17px; height: 15px; background-position: -201px -151px; }
.ikon-uyari { width: 17px; height: 15px; background-position: -38px -233px; }
.tab-low-cost { width: 15px; height: 17px; background-position: -277px -312px; }
.ikon-guzergah-ara-2 { width: 20px; height: 12px; background-position: -73px -148px; }
.notification-shop-aktif { width: 16px; height: 15px; background-position: -322px -250px; }
.affilite-toplam-sure { width: 15px; height: 15px; background-position: -324px -130px; }
.ekle-ssr { width: 15px; height: 15px; background-position: -324px -115px; }
.ikon-info-2 { width: 15px; height: 15px; background-position: -324px -235px; }
.notification-bg { width: 15px; height: 15px; background-position: -324px -220px; }
.aktif-mesaj { width: 16px; height: 14px; background-position: -324px -206px; }
.ikon-takvim { width: 16px; height: 14px; background-position: -324px -192px; }
.modul-araba { width: 16px; height: 14px; background-position: -325px -178px; }
.notification-shop-pasif { width: 16px; height: 14px; background-position: -326px -101px; }
.notification-pin-aktif { width: 13px; height: 17px; background-position: -328px -84px; }
.tab-kombinasyon { width: 14px; height: 15px; background-position: -328px -69px; }
.tab-matris { width: 14px; height: 15px; background-position: -328px -54px; }
.hotel-oda-aktif { width: 11px; height: 19px; background-position: -330px 0px; }
.ikon-derece { width: 11px; height: 19px; background-position: -330px -145px; }
.ekle-mil { width: 16px; height: 13px; background-position: -325px -165px; }
.pasif-mesaj { width: 16px; height: 13px; background-position: -327px -315px; }
.modul-hotel { width: 17px; height: 12px; background-position: -124px -261px; }
.notification-pin-pasif { width: 12px; height: 17px; background-position: -330px -399px; }
.ekle-yemek { width: 14px; height: 14px; background-position: -327px -301px; }
.tab-ucus { width: 16px; height: 12px; background-position: -250px -263px; }
.bagaj- belirsiz { width: 17px; height: 11px; background-position: 0px -20px; }
.bagaj-yok { width: 17px; height: 11px; background-position: -17px -20px; }
.data-yukari { width: 17px; height: 11px; background-position: -34px -20px; }
.listele-satir { width: 17px; height: 11px; background-position: -51px -20px; }
.header-uye-girisi { width: 13px; height: 14px; background-position: -212px -435px; }
.header-yeni-uyelik { width: 13px; height: 14px; background-position: -330px -481px; }
.ikon-eksi { width: 14px; height: 13px; background-position: -330px -521px; }
.notification-hotal { width: 14px; height: 13px; background-position: -331px -288px; }
.pasif-ayrinti { width: 13px; height: 14px; background-position: -332px -29px; }
.hotel-oda-pasif { width: 10px; height: 18px; background-position: -276px -102px; }
.affilite-varis-saati { width: 16px; height: 11px; background-position: -328px -43px; }
.de { width: 16px; height: 11px; background-position: -128px -77px; }
.fr { width: 16px; height: 11px; background-position: -144px -77px; }
.gb { width: 16px; height: 11px; background-position: -160px -77px; }
.nl { width: 16px; height: 11px; background-position: -176px -77px; }
.tr { width: 16px; height: 11px; background-position: -141px -261px; }
.ucus-yetiskin { width: 9px; height: 19px; background-position: -240px -236px; }
.aktif-ayrinti { width: 13px; height: 13px; background-position: -331px -275px; }
.ikon-ara { width: 13px; height: 13px; background-position: -332px -386px; }
.ikon-arti { width: 13px; height: 13px; background-position: -331px -468px; }
.ikon-check { width: 13px; height: 13px; background-position: -331px -455px; }
.ikon-dikkat { width: 13px; height: 13px; background-position: -331px -442px; }
.ikon-info { width: 13px; height: 13px; background-position: -331px -429px; }
.ikon-promosyon { width: 13px; height: 13px; background-position: -331px -416px; }
.ikon-sil { width: 13px; height: 13px; background-position: -331px -508px; }
.ikon-soru { width: 13px; height: 13px; background-position: -331px -495px; }
.buton-asagi-kaydirma_cubugu { width: 11px; height: 15px; background-position: -131px -223px; }
.buton-yukari-kaydirma_cubugu { width: 11px; height: 15px; background-position: -131px -208px; }
.hotel-cocuk { width: 11px; height: 15px; background-position: -335px -371px; }
.ucus-cocuk { width: 11px; height: 15px; background-position: -336px -328px; }
.hotel-yetiskin { width: 9px; height: 18px; background-position: -95px -171px; }
.affilite-kalkis-saati { width: 16px; height: 10px; background-position: -157px -261px; }
.ikon-input-hata { width: 12px; height: 13px; background-position: -185px -261px; }
.ikon-input-onay { width: 12px; height: 13px; background-position: -254px -72px; }
.ucus-bebek { width: 12px; height: 13px; background-position: -173px -261px; }
.header-para-birimi { width: 14px; height: 11px; background-position: -218px -151px; }
.ekle-bagaj { width: 15px; height: 10px; background-position: -332px -19px; }
.filtreler-sifirla { width: 12px; height: 12px; background-position: -311px -133px; }
.ikon-guzergah-ara { width: 12px; height: 12px; background-position: -112px -261px; }
.affilite-fiyat-araligi { width: 14px; height: 10px; background-position: -232px -151px; }
.ikon-guzergah-pin { width: 10px; height: 14px; background-position: -197px -261px; }
.slider-sag { width: 10px; height: 14px; background-position: -337px -357px; }
.slider-sol { width: 10px; height: 14px; background-position: -337px -343px; }
.ikon-siralama-alt { width: 9px; height: 15px; background-position: -59px -210px; }
.ikon-siralama-ust { width: 9px; height: 15px; background-position: -338px -250px; }
.aktif-ayrinti-2 { width: 11px; height: 11px; background-position: -208px -245px; }
.ayrinti-goster { width: 11px; height: 11px; background-position: -292px -312px; }
.pasif-ayrinti-2 { width: 11px; height: 11px; background-position: -68px -188px; }
.ucus-degistir { width: 11px; height: 11px; background-position: -141px -272px; }
.notification-araba { width: 14px; height: 8px; background-position: -268px 0px; }
.ikon-buton-geri { width: 10px; height: 10px; background-position: 0px -126px; }
.ikon-buton-sec { width: 10px; height: 10px; background-position: -24px -210px; }
.slider-buton-aktif { width: 10px; height: 10px; background-position: -331px -265px; }
.slider-buton-pasif { width: 10px; height: 10px; background-position: -130px -273px; }
.ikon-turuncu { width: 8px; height: 12px; background-position: -68px -20px; }
.arrow-bg { width: 6px; height: 15px; background-position: -341px 0px; }
.ikon-havalimanlari { width: 9px; height: 9px; background-position: -113px -48px; }
.tab-content { width: 1px; height: 75px; background-position: -345px -29px; }
.ikon-veri-uyari { width: 5px; height: 11px; background-position: -342px -104px; }
.square-bg { width: 5px; height: 5px; background-position: -282px 0px; }
.ayrıntı-gizle { width: 11px; height: 2px; background-position: -226px 0px; }
.transparent { width: 1px; height: 1px; background-position: 0px 0px; }
ground-position: -371px -378px; }